html, body {
    height: 100%;
    width: 100%;
  }
  h1 {
    font-family: Lobster;
    text-align: center;
    font-size: 75px;
    color: #2F4F4F;
  }
  p {
    font-family: Poor Story;
    color: #00264D;
    font-size: 30px;
    text-align: center;
    margin: 10px 35px 10px 35px;
  }
  html {
    background-color: #DEB887;
  }
  img {
    width: 400px;
    border: solid;
    border-width: 5px;
    border-color: black; 
  }
  #title-bill {
    color: white;
  }
  #title-clones {
    color: black;
  }
  * {
    text-align: center;
  }